<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>更新用户信息</title>
    <header th:replace="header::html"></header>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
    <!--<script th:src="@{/component/layui/layui.js}"></script>-->
    <!--<script th:src="@{/component/pear/pear.js}"></script>-->

</head>

<body>
<div class="x-body">
    <form class="layui-form" style="padding: 2% 12% 0% 8%">


        <input type="hidden" id="id" name="id" th:value="${user.id}" >

        <div class="layui-form-item">
            <label for="userId" class="layui-form-label">
                <span class="x-red">*</span>员工编号
            </label>
            <div class="layui-input-block">
                <input type="text" id="userId" th:value="${user.no}" name="no" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>将会-->
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>员工姓名
            </label>
            <div class="layui-input-block">
                <input type="text" id="L_username" th:value="${user.username}" name="username" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>将会成为您唯一的登入名-->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-block">
                <input type="number" id="departmentId" th:value="${user.departmentId}" name="departmentId"  lay-verify="departmentId" style="display:none;width: 0px" autocomplete="off" class="layui-input">
                <ul id="dataTree" class="dtree" data-id="0" th:data-value="${user.departmentId}"></ul>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>将会-->
            </div>
        </div>


        <div class="layui-form-item">
            <label for="L_nickname" class="layui-form-label">
                <span class="x-red"></span>昵称
            </label>
            <div class="layui-input-block">
                <!--<input type="text" id="L_nickname" th:value="${user.nickname}" name="nickname" required="" lay-verify="nickname" autocomplete="off" class="layui-input">-->
                <input type="text" id="L_nickname" th:value="${user.nickname}" name="nickname" required="" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>将会-->
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_telephone" class="layui-form-label">
                <span class="x-red"></span>手机
            </label>
            <div class="layui-input-block">
                <!--<input type="text" id="L_telephone" th:value="${user.telephone}" name="telephone" required="" lay-verify="telephone" autocomplete="off" class="layui-input">-->
                <input type="text" id="L_telephone" th:value="${user.telephone}" name="telephone" required="" autocomplete="off" class="layui-input">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">-->
            <!--11位数字-->
            <!--</div>-->
            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>将会-->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" th:field="${user.sex}" name="sex" value="1" title="男" checked="">
                <input type="radio" th:field="${user.sex}" name="sex" value="0" title="女">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>将会-->
            </div>
        </div>

        <input type="text" id="roleId"  name="roleId" style="display:none;"/>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>

            <div class="layui-input-block show-role-container">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>将会-->
            </div>
        </div>


        <div class="layui-form-item">
            <label  class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="edit" lay-submit="">
                保存
            </button>
        </div>
    </form>
</div>
<script>

    layui.config({
        base: '/'
    }).extend({
        dtree: 'component/layui_ext/dtree/dtree'
    }).use(['form','layer', 'laydate','dtree','jquery'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer
            ,laydate = layui.laydate;
        let dtree = layui.dtree;
        // 初始化树
        dtree.render({
            elem: "#dataTree",
            initLevel: "1",
            width: "100%",
            method: 'get',
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            response:{message:"msg",statusCode:200},  //修改response中返回数据的定义
            url: "/department/build",
            dataFormat: "list",  //配置data的风格为list
            select: true, //指定下拉树模式
            selectCardHeight: "200",
        });

        var param = dtree.getNowParam("dataTree");
        formData = $("#departmentId");
        dtree.on("node('dataTree')" ,function(obj){
            var param = dtree.getNowParam("dataTree");
            $("#departmentId").val(param.nodeId);
            formData = $("#departmentId");
        });

        getAllRole(function(){
            layui.form.render('radio')
        });
        //日期
        laydate.render({
            elem: '#L_birthday'
            ,format: 'yyyy-MM-dd' //可任意组合
        });

        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 5){
                    return '昵称至少得5个字符啊';
                }
            }
            ,telephone: [/(.+){6,12}$/, '电话号码必须6到12位']
        });

        //监听提交
        form.on('submit(edit)', function(data){
            var rolelRadio = $("[name=roleId]:checked");
            if(rolelRadio == undefined || rolelRadio.length <= 0){
                layer.alert("请给该用户设置角色");
                return false;
            }
            data.field.roleId = rolelRadio.val();
            $.ajax({
                url:"/user/edit",
                type:"POST",
                data: data.field,
                dataType:'json',
                success:function(result){
                    if(result.code == 500 || result.code == 5000100 || result.code == 5000101 || result.code == 5000102){
                        layer.alert(result.msg);
                    }else{
                        layer.alert("设置成功", {icon: 6},function () {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                    }
                }
            });
            return false;
        });


    });
    function getAllRole(callback){
        $.ajax({
            url:"/role/all",
            type:"GET",
            dataType:'json',
            success:function(result){
                var html = "";
                if(result.datas && result.datas.length > 0){
                    for(i in result.datas ){
                        html += '<input type="radio"  name="roleId" value="'+result.datas[i].id+'" title="'+result.datas[i].name+'" >' +
                            '<div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><div>'+result.datas[i].name+'</div></div>';
                    }
                    $(".show-role-container").html(html);
                    getCurrentUserRole(callback)
                    // callback();
                }
            }
        });
    }

    function getCurrentUserRole(callback){
        var userId = $("#id").val()
        $.ajax({
            url:"/roleuser/getRoleUserByUserId",
            type:"POST",
            data:{
                "userId" : userId
            },
            dataType:'json',

            success:function(result){
                if (result.code == 200) {
                    if (result.data) {
                        $("[name=roleId]").each(function () {
                            if ($(this).val() == result.data.roleId) {
                                $(this).attr("checked", "checked")
                                return false
                            }
                        })
                    }
                    if (callback) {
                        callback()
                    }
                    // callback && callback()
                }
            }
        });
    }
</script>
</body>
</html>