<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friday-System</title>
    <header th:replace="header::html"></header>
</head>
<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a>首页</a>
        <a>工资管理</a>
        <a>
          <cite>导入工资数据</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">&#xe669;</i>
    </a>
</div>

<div class="x-body layui-anim layui-anim-up">
    <span style="font-size: 18px;">导入工资数据：</span><br>
    <br>
    <div class="layui-card">
        <div class="layui-card-body">
            <form id="uploadForm">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-primary" id="selectId">选择文件</button>
                    <button type="button" class="layui-btn" id="uploadId">开始上传</button>
                </div>
                <!--<input class="layui-btn  layui-btn-sm" type="button" value="点击上传文件" onclick="doUpload()" style="margin-left: 30px"/>-->
            </form>
            <div class="layui-progress" lay-filter="progressBar" lay-showPercent="true" style="margin: 20px 0px">
                <div class="layui-progress-bar layui-bg-green" lay-percent="0%"></div>
            </div>
        </div>
    </div>
</div>
<script>



    layui.use(['upload','element'], function () {
        var $ = layui.jquery, upload = layui.upload, element=layui.element;

        var uploadButton = document.getElementById("uploadId");
        uploadButton.onclick = function(){

            $("#uploadId").hide()
            // $("#uploadId").attr("disabled", true);
        }


        //选完文件后不自动上传
        upload.render({
            elem: '#selectId'
            , url: '/salary/upload'
            , auto: false
            ,exts: 'xls|xlsx'   //文件后缀
            ,accept: 'file'
            // ,multiple: true
            ,bindAction: '#uploadId'
            ,progress: function(n, elem){
                var percent = n + '%' //获取进度百分比
                element.progress('progressBar', percent); //可配合 layui 进度条元素使用
                // element.progress('progressBar', '50%');

                //以下系 layui 2.5.6 新增
                console.log(elem); //得到当前触发的元素 DOM 对象。可通过该元素定义的属性值匹配到对应的进度条。
            }
            ,done: function (data) {
                if(data.code == 500 || data.code == 5000100 || data.code == 5000101 || data.code == 5000102){
                    layer.msg(data.msg, {icon: 2, time: 10000, offset: 'rt'});
                    // layer.alert("上传错误");
                } else {

                    var n = 0, timer = setInterval(function(){
                        n = n + Math.random()*10|0;
                        if(n > 100){
                            n = 100;
                            $("#uploadId").show()
                            clearInterval(timer);
                        }
                        element.progress('progressBar', n+'%');
                    }, 20 + Math.random() * 100);

                    // $("#uploadId").attr("disabled", false);
                }
            }
            ,error: function (data) {
                layer.msg(data.msg, {icon: 5, time: 10000, offset: 'rt'});
            }
        });
    })





</script>

<!--<hr>-->

<div class="x-body layui-anim layui-anim-up">
    <span style="font-size: 18px;">薪酬数据字段：</span>
    <br><br>
    <div class="layui-card">
        <!--<div class="layui-card-header">-->
        <div class="layui-card-body">
                <form class="layui-form layui-inline" style="width: 50%">
                    <div class="layui-inline layui-show-xs-block" style="width: 30%">
                        <input type="text"  style="width: 100%" name="name"  placeholder="请输入薪酬字段" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </form>

                <div class="layui-inline layui-btn-group" style="float: right">
                    <button class="layui-btn" id="addItemId" permission="sys:user:add"><i class="layui-icon"></i>添加</button>
                    <button class="layui-btn" id="deleteCheckedId" permission="sys:user:del"><i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn"  id="downloadSalaryMetaId" ><i class="layui-icon">&#xe601;</i>下载模板</button>
                </div>
        </div>

        <div class="layui-card-body ">
            <table class="layui-hide" id="table" lay-filter="member"></table>
        </div>

        <div class="layui-card-body" style="text-align: center">
            <script type="text/html" id="barButtons">
                <div class="layui-btn-group">
                    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="edit" permission="sys:user:edit"><i class="layui-icon"></i></a>
                    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="del" permission="sys:user:del"><i class="layui-icon"></i></a>
                </div>
            </script>
        </div>
    </div>
</div>

<script>

    layui.use('table', function(){
        var table = layui.table,
            form = layui.form;

        var columns = [ //表头
            {type:   'checkbox', fixed: 'left'}
            ,{field: 'id', title: 'ID', align:'center', width:50}
            ,{field: 'name', title: '薪酬字段'}
            ,{field: 'type', title: '分类'}
            ,{field: 'property', title: '性质'}
            ,{field: 'detail', title: '描述'}
            ,{field: 'status', title: '状态',  templet:function(d){
                    return  d.status == '1' ? "启动":"禁用";
                }}
            ,{field: 'isDecimal', title: '是否数值',  templet:function(d){
                    return  d.isDecimal == '1' ? "是":"否";
                }}
            ,{field: 'version', title: '版本号'}
            ,{field: 'sort', title: '排序'}
            ,{title:'操作', toolbar: '#barButtons',align:'center'}
        ];
        table.render({
            elem: '#table'
            ,url: '/salary/listMeta' //数据接口
            ,page: true //开启分页
            ,response: {
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'datas' //规定数据列表的字段名称，默认：data
            }
            ,cellMinWidth: 100
            ,cols: [
                columns
            ],
            done: function(){
                checkPermission()
            }
        });

        //监听工具条
        table.on('tool(member)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url:"/salary/deleteMeta",
                        type:"GET",
                        data:{id:data.id},
                        dataType:'json',
                        success:function(data){

                            if(data.code == 500 || data.code == 5000100 || data.code == 5000101 || data.code == 5000102){
                                layer.alert(data.msg);
                            } else {
                                table.reload('table');
                                layer.msg('已删除!', {icon: 1, time: 500});
                            }

                        },
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                xadmin.open('编辑信息','/salary/editMeta/?id='+data.id, 640, 600);
            }
        });

        $('#addItemId').on('click', function () {
            xadmin.open('添新字段','/salary/addMeta', 640, 600)
        });


        //搜索
        form.on('submit(search)', function(data){
            var name = data.field.name;
            table.render({
                elem: '#table'
                ,url: '/salary/findSalaryMetaByFuzzyName' //数据接口
                ,page: true //开启分页
                ,where:{
                    "name":name
                }
                ,response: {
                    countName: 'count', //规定数据总数的字段名称，默认：count
                    dataName: 'datas' //规定数据列表的字段名称，默认：data
                }
                ,cols: [
                    // [ //表头
                    //     {type:   'checkbox', fixed: 'left'}
                    //     ,{field: 'id', title: 'ID', align:'center', width:50}
                    //     ,{field: 'name', title: '薪酬字段'}
                    //     ,{field: 'type', title: '分类'}
                    //     ,{field: 'property', title: '性质'}
                    //     ,{field: 'detail', title: '描述'}
                    //     ,{field: 'status', title: '状态',  templet:function(d){
                    //         return  d.status == '1' ? "启动":"禁用";
                    //     }}
                    //     ,{field: 'isDecimal', title: '是否数值',  templet:function(d){
                    //         return  d.isDecimal == '1' ? "是":"否";
                    //     }}
                    //     ,{title:'操作', toolbar: '#barButtons',align:'center'}
                    // ]
                    columns
                ]
            });
            return false;
        });

        $('#deleteCheckedId').on('click', function () {
            var checkStatus = table.checkStatus('table'), data = checkStatus.data;
            var ids = [];
            $.each(data, function (index, item) {
                // alert(item.username)
                ids.push(item.id);
            });

            layer.confirm('确定要删除吗?', function (index) {
                $.ajax({
                    type:'post',
                    url: '/salary/deleteByIdList',
                    data: {"idList": ids},
                    traditional: true,
                    dataType: 'json',
                    success: function (data) {
                        if(data.code == 500 || data.code == 5000100 || data.code == 5000101 || data.code == 5000102){
                            layer.alert(data.msg);
                        } else {
                            table.reload('table');
                            layer.msg('已删除!', {icon: 1, time: 1000, offset:'rt'});
                        }
                    },
                    error: function (data) {
                        layer.alert("抱歉，出现未知错误！", {icon: 5});
                    }
                });
                // layer.close(index);
            });
        });

        $('#downloadSalaryMetaId').on('click', function () {
            window.location.href = "/salary/downloadSalaryMeta"
        });

        checkPermission();
    });
</script>

</body>
</html>