<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>更新角色信息</title>
    <header th:replace="header::html"></header>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
    <!--<link rel="stylesheet" th:href="@{/ztree/zTreeStyle/zTreeStyle.css}" />-->
    <!--<link rel="stylesheet" th:href="@{/ztree/demo.css}" />-->
</head>

<body>
<form class="layui-form" action="" style="padding: 4% 16% 0% 10%">
    <!--<div class="mainBox">-->
        <!--<div class="main-container">-->
            <!--<div class="main-container">-->
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span style="color: red">*</span>角色名
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="roleNameId" th:value="${role.name}" name="name" required="" placeholder="请输入角色名" lay-verify="name" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <!--<span class="x-red">*</span>将会-->
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色描述</label>
                    <div class="layui-input-block">
                        <input type="text" id="descriptionId" th:value="${role.description}" name="description" required="" lay-verify="description" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <!--<span class="x-red">*</span>将会-->
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">菜单分配</label>
                    <div class="layui-input-block">
                        <input type="hidden" id="inputRoleId" th:value="${role.id}">
                        <ul id="dataTree" class="dtree" data-id="0"></ul>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <!--<span class="x-red">*</span>将会-->
                    </div>
                </div>

                <!--<div class="layui-form-item">-->
                <!--<label class="col-md-2 control-label layui-form-label">权限</label>-->

                <!--<div class="col-md-10">-->
                <!--<ul id="treeDemo" class="ztree"></ul>-->
                <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="role-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

<script>

    layui.config({
        base: '/'
    }).extend({
        dtree: 'component/layui_ext/dtree/dtree'
    }).use(['dtree','form','jquery'],function(){
        let form = layui.form;
        let $ = layui.jquery;
        let dtree = layui.dtree;
        let Dtree = null;
        let roleId = $("#inputRoleId").val();
        Dtree = dtree.render({
            elem: "#dataTree",
            initLevel: "1",
            width: "100%",
            method: 'get',
            dataStyle: "layuiStyle",  //使用layui风格的数据格式
            response:{message:"msg",statusCode:200},  //修改response中返回数据的定义
            url: "/permission/build?roleId=" + roleId,
            dataFormat: "list",  //配置data的风格为list
            checkbar: true,  //开启复选框
            checkbarType: "all"
        });

        form.verify({
            name: function(value){
                if(value.length < 2){
                    return '角色名至少2个字符';
                }
            }
        });
        form.on('submit(role-save)', function(data){
            // 获取复选框数组数据
            var paramJsonArr = Dtree.getCheckbarJsonArrParam();
            var ids = paramJsonArr["nodeId"]
            var role = data.field
            role['permissionIds'] = ids
            role['id'] = roleId
            $.ajax({
                url:'/role/update',
                data:JSON.stringify(role),
                dataType:'json',
                contentType:'application/json',
                type:'post',
                success:function(result){
                    if(result.code == 500 || result.code == 5000100 || result.code == 5000101 || result.code == 5000102){
                        layer.msg(result.msg,{icon:2,time:1000});
                    } else {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.location.reload();
                        });
                    }
                }

            })
            return false;
        });
    })

    // layui.use(['form','layer', 'laydate'], function(){
    //     $ = layui.jquery;
    //     var form = layui.form
    //         ,layer = layui.layer
    //         ,laydate = layui.laydate;
    //
    //     //日期
    //     laydate.render({
    //         elem: '#L_birthday'
    //         ,format: 'yyyy-MM-dd' //可任意组合
    //     });
    //
    //     //自定义验证规则
    //     form.verify({
    //         name: function(value){
    //             if(value.length < 4){
    //                 return '角色名至少4个字符';
    //             }
    //         }
    //     });
    //
    //     //监听提交
    //     form.on('submit(update)', function(data){
    //         console.log(data);
    //         var permissionIds = getCheckedMenuIds();
    //         data.field.permissionIds = permissionIds;
    //         $.ajax({
    //             url:"/role/edit",
    //             type:"POST",
    //             contentType: "application/json; charset=utf-8",
    //             data:JSON.stringify(data.field),
    //             dataType:'json',
    //             success:function(result){
    //                 layer.alert("添加成功", {icon: 6},function () {
    //                     //关闭当前frame
    //                     xadmin.close();
    //                     // 可以对父窗口进行刷新
    //                     xadmin.father_reload();
    //                 });
    //             }
    //         });
    //         return false;
    //     });
    // });
    // $.fn.zTree.init($("#treeDemo"), getSettting(), getMenuTree());
    //
    // initMenuDatas($("#roleId").val())

</script>
</body>
</html>